body{
    margin:0; /**remove the margin for body **/
    background:darkgray; /**dark gray background **/
    overflow:hidden; /**to avoid scroll bar**/
   display: flex;
   justify-content: center;
   align-items: center;

}
#verticalButtons{
    display: flex;
    flex-direction: column;
}

/** for save and discard button**/
button{
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin:2px;
    cursor:pointer;
}

button:hover{
    background: blue;
}

#carCanvas{ /**car canvas to gray**/
    background:lightgray;
}

#networkCanvas{ /**network canvas to black**/
    background:black;
}